<script type="text/javascript" src="__ADMIN__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__ADMIN__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__ADMIN__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__ADMIN__JS__/H-ui.js"></script>
<script type="text/javascript" src="__ADMIN__JS__/H-ui.admin.js"></script>
